[Unit]
Description=HueShift
Wants=network.target
After=network.target

[Service]
ExecStart=/home/pi/HueShift/HueShift
WorkingDirectory=/home/pi/HueShift
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi


[Install]
WantedBy=multi-user.target
